a{
	color: dimgray;
	text-decoration: none;
}

a:visited{
	color: darkgray;
}

a:hover{
	color: darksalmon;
}


h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	text-align: center;
}

p, li {
	font-family: 'Raleway', sans-serif;
}

nav {
	display: block;
}

.main-nav {
	width: 100%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.main-nav ul {
	list-style-type: none;
	font-family: 'Oswald', sans-serif;
}

.main-nav li{
	display: inline-block;
	background-color: rgba(211, 211, 211, 0.9);
	border-radius: 3%;
	padding:4px 8px;
	width: 17%;
	font-size: .7em;
}

a:visited{
	color: darkgray;
}

nav, a:visited{
	color: dimgray;
}
a:hover{
	color: darksalmon;
}

.no-bullets{
	list-style-type:none;
}

/* Index specific */




/* Persona specific */

.mama-mia-image {
	width: 30%;
}

.demographics.goals.frustrations {
	margin:80px;
	display: inline-block;
}

/* User Story specific */



/* Use Case specific */


/* Conceptual Model specific */
.erd-image {
	width: 80%;
}